public net.minecraft.world.level.storage.loot.PredicateManager f_79228_ # GSON
public net.minecraft.advancements.critereon.MinMaxBounds$Ints <init>(Ljava/lang/Integer;Ljava/lang/Integer;)V # IntBound
public net.minecraft.advancements.critereon.MinMaxBounds$Doubles <init>(Ljava/lang/Double;Ljava/lang/Double;)V # FloatBound

public net.minecraft.advancements.critereon.EntityFlagsPredicate$Builder f_33711_ # isBaby
public net.minecraft.advancements.critereon.EntityFlagsPredicate$Builder f_33708_ # isCrouching
public net.minecraft.advancements.critereon.EntityFlagsPredicate$Builder f_33707_ # isOnFire
public net.minecraft.advancements.critereon.EntityFlagsPredicate$Builder f_33709_ # isSprinting
public net.minecraft.advancements.critereon.EntityFlagsPredicate$Builder f_33710_ # isSwimming

public net.minecraft.world.level.storage.loot.functions.SetAttributesFunction$Modifier

public net.minecraft.world.entity.LivingEntity m_7771_(ZLnet/minecraft/world/damagesource/DamageSource;)Lnet/minecraft/world/level/storage/loot/LootContext$Builder; # createLootContext
public net.minecraft.world.entity.Mob m_7771_(ZLnet/minecraft/world/damagesource/DamageSource;)Lnet/minecraft/world/level/storage/loot/LootContext$Builder; # createLootContext
# for testing >.<
public net.minecraft.world.entity.LightningBolt f_20862_ # visualOnly
public net.minecraft.world.level.Explosion f_46009_ # fire
public net.minecraft.world.level.Explosion f_46010_ # blockInteraction
public net.minecraft.world.level.Explosion f_46017_ # radius
public net.minecraft.world.entity.Entity  f_19800_ # wasEyeInWater
public net.minecraft.world.entity.Entity  f_19798_ # wasTouchingWater
public net.minecraft.world.entity.Entity f_19826_ # blockPosition
public net.minecraft.world.level.storage.loot.predicates.LootItemEntityPropertyCondition f_81847_ # entityTarget
public net.minecraft.world.level.storage.loot.IntRange <init>(Lnet/minecraft/world/level/storage/loot/providers/number/NumberProvider;Lnet/minecraft/world/level/storage/loot/providers/number/NumberProvider;)V # IntRange


